alembic==1.6.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
ffmpeg==1.4
Flask==1.1.4
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
ibm-cloud-sdk-core==3.9.0
ibm-watson==5.1.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==4.0.1
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==2.0.0
moviepy==1.0.3
numpy==1.19.5
Pillow==8.2.0
proglog==0.1.9
PyJWT==2.1.0
python-dateutil==2.8.1
python-editor==1.0.4
requests==2.25.1
schedule==1.1.0
six==1.16.0
SQLAlchemy==1.4.15
tqdm==4.60.0
typing-extensions==3.10.0.0
urllib3
websocket-client==0.48.0
Werkzeug==1.0.1
zipp==3.4.1
nltk==3.6.2
